@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
 .container {
  @apply w-11/12 md:w-10/12 lg:w-[768px]
 }
}

*:not([aria-label="modal-wrapper"]) {
    transition: all .3s linear;
}


::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }